<div class="container-fluid w-100 d-flex flex-column d-flex justify-content-center min-vh-100 login-page align-items-center">
    <div class="login-card co l-8 w-25 h-100">
        <h1 class="text-center mt-5">Login</h1>
        <form class="mt-4">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mt-2">Enter</button>
            </div>
            <div class="text-center mt-3">
                <!-- <a href="#">Forgot Password?</a> -->
            </div>
        </form>
    </div>
</div>
