<div class="row m-0 min-vh-100 position-static">
  <div class="card-body p-md-5">
    <div class="row justify-content-center">
      <div class="col-6 order-2 order-lg-1">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Reservation</p>

        <form class="mx-1 mx-md-4">

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Your Name</label>
              <input type="text" id="form3Example1c" class="form-control" />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">National ID</label>
              <input type="number" id="form3Example1c" class="form-control" />
            </div>
          </div>

          <div class="col-md-6 mb-4">

            <label class="mb-2 pb-1 d-block">Lab Or Clinic: </label>

            <div class="form-check form-check-inline">
              <input class="form-check-input" [(ngModel)]="labOrClinic" type="radio" name="labOrClinic" id="Lab" value="option1" checked />
              <label class="form-check-label" for="femaleGender">Lab</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="labOrClinic" id="Clinic" value="option2" />
              <label class="form-check-label" for="maleGender">Clinic</label>
            </div>

          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-primary btn-lg">Create</button>
          </div>

        </form>

      </div>
      <div class="col-6 d-flex align-items-center order-1 order-lg-2 d-flex justify-content-center">

        <img src="../../../../assets/images/reserve.jpg" class="img-fluid rounded-5" alt="Sample image">

      </div>
    </div>
  </div>
</div>