<div class="row m-0 min-vh-100 position-static">
  <div class="card-body p-md-5">
    <div class="row justify-content-center">
      <div class="col-6 order-2 order-lg-1">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
          Create Reservation
        </p>

        <form class="mx-1 mx-md-4" (ngSubmit)="saveReservation()">
          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c"
                >Patient Id</label>
              <input
                type="text"
                [(ngModel)]="reservation.patientId"
                id="form3Example1c"
                class="form-control"
                [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c"
                >First name</label
              >
              <input
                type="text"
                [(ngModel)]="reservation.firstName"
                id="form3Example1c"
                class="form-control"
                [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c"
                >Last name</label
              >
              <input
                type="text"
                [(ngModel)]="reservation.lastName"
                id="form3Example1c"
                class="form-control"
                [ngModelOptions]="{ standalone: true }" />
            </div>
          </div>

          <!-- <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c"
                >Place Price Id</label
              >
              <input
                type="Number"
                [(ngModel)]="reservation.placePriceId"
                id="form3Example1c"
                class="form-control"
                [ngModelOptions]="{ standalone: true }" />
            </div>
          </div> -->

          <div class="col-md-6 mb-4">
            <label class="mb-2 pb-1 d-block">Lab Or Clinic: </label>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                [(ngModel)]="labOrClinic"
                type="radio"
                name="labOrClinic"
                id="Lab"
                value="lab"
                checked />
              <label class="form-check-label" for="Lab">Lab</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                [(ngModel)]="labOrClinic"
                type="radio"
                name="labOrClinic"
                id="clinic"
                value="clinic" />
              <label class="form-check-label" for="clinic">Clinic</label>
            </div>
          </div>

          <div *ngIf="labOrClinic === 'lab'" class="d-flex flex-column mb-1">
            <label class="form-label" for="lab">Select Lab</label>
            <select
              [(ngModel)]="reservation.specialty"
              (change)="getAllPlacePrices(labOrClinic , $event)"
              id="specialty"
              class="rounded-2"
              [ngModelOptions]="{ standalone: true }">
              <!-- <option value="lab">Select Lab</option> -->
              <option 
              *ngFor="let lab of labs"
              [value]="lab.id">
                {{ lab.name }}
              </option>
            </select>
          </div>

          <div *ngIf="labOrClinic === 'clinic'" class="d-flex flex-column mb-1">
            <label class="form-label" for="clinic">Select Clinic</label>
            <select
              [(ngModel)]="reservation.specialty"
              (change)="getAllPlacePrices(labOrClinic , $event)"
              id="specialty"
              class="rounded-2"
              [ngModelOptions]="{ standalone: true }">
              <!-- <option value="clinic">Select Clinic</option> -->
              <option 
              *ngFor="let clinic of clinics"
              [value]="clinic.id">
              {{ clinic.name }}
              </option>
            </select>
          </div>

          <div *ngIf="reservation.specialty" class="d-flex flex-column mb-1">
            <label class="form-label" for="placePrice">Place Prices</label>
            <select
              [(ngModel)]="reservation.placePriceId"
              [(ngModel)]="selectedPlacePrice"
              id="placePrice"
              class="rounded-2"
              [ngModelOptions]="{ standalone: true }">
              <!-- <option value="clinic">Select Place Price</option> -->
              <option 
              *ngFor="let placePrice of placePrices"
              [value]="placePrice.id">
              {{ placePrice.name }}
              </option>
            </select>
          </div>

          <div *ngIf="selectedPlacePrice" class="d-flex flex-row align-items-center justify-content-between"> 
            <p>
              Total Price: {{ selectedPlacePrice?.price }}
            </p>

          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="submit" class="btn btn-primary btn-lg">Create</button>
          </div>
        </form>
      </div>
      <div
        class="col-6 d-flex align-items-center order-1 order-lg-2 d-flex justify-content-center">
        <img
          src="../../../../assets/images/reserve.jpg"
          class="img-fluid rounded-5"
          alt="Sample image" />
      </div>
    </div>
  </div>
</div>
