<div class="row m-0 min-vh-100 position-static">
  <div class="card-body p-md-5">
    <div class="row justify-content-center">
      <div class="col-6 order-2 order-lg-1">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Reservation</p>

        <form class="mx-1 mx-md-4" (ngSubmit)="saveReservation()">

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Patient Name</label>
              <input type="text" [(ngModel)]="reservation.username" id="form3Example1c" class="form-control" [ngModelOptions]="{standalone : true}"/>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <label class="form-label" for="form3Example1c">Patient National ID</label>
              <input type="text" [(ngModel)]="reservation.nationalId" id="form3Example1c" class="form-control" [ngModelOptions]="{standalone : true}" />
            </div>
          </div>

          <div class="col-md-6 mb-4">
            
            <label class="mb-2 pb-1 d-block">Lab Or Clinic: </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" [(ngModel)]="labOrClinic" type="radio" name="labOrClinic" id="Lab"
                value="Lab" checked />
              <label class="form-check-label" for="femaleGender">Lab</label>
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" [(ngModel)]="labOrClinic" type="radio" name="labOrClinic" id="Clinic"
                value="Clinic" />
              <label class="form-check-label" for="maleGender">Clinic</label>
            </div>

          </div>

          <div *ngIf="labOrClinic === 'Clinic'" class="d-flex flex-column mb-1">
            <label class="form-label" for="form3Example1c">Select Department</label>
            <select [(ngModel)]="reservation.specialty" class="rounded-2"  [ngModelOptions]="{standalone : true}">
              <option value="clinic">Select Specialty</option>
              <option *ngFor="let department of departments">{{ department.name }}</option>
            </select>
          </div>

          <!-- <select [(ngModel)]="reservation.clinicOrLab">
              <option value="clinic">Clinic</option>
              <option value="lab">Lab</option>
            </select> -->

          <!-- <select *ngIf="reservation.clinicOrLab === 'clinic'" [(ngModel)]="reservation.specialty">
              <option value="">Select Specialty</option>
              <option *ngFor="let specialty of specialties" [value]="specialty">{{ specialty }}</option>
            </select> -->



          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-primary btn-lg">Create</button>
          </div>

        </form>

      </div>
      <div class="col-6 d-flex align-items-center order-1 order-lg-2 d-flex justify-content-center">

        <img src="../../../../assets/images/reserve.jpg" class="img-fluid rounded-5" alt="Sample image">

      </div>
    </div>
  </div>
</div>