<div
  class="row w-100 pt-5 mx-0 page-design">
  <div
    class="col-sm-1 d-flex flex-column align-items-center justify-content-center"></div>
  <div class="pt-4 col-sm-10">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Lab Data</p>
    <table class="table table-striped-columns">
      <tbody>
        <tr>
          <td class="fw-bold">Lab Name :</td>
          <td>{{ lab.name }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Lab Type:</td>
          <td>{{ lab.type }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Lab ID:</td>
          <td>{{ lab.id }}</td>
        </tr>
      </tbody>
    </table>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Waiting List</p>
    <table class="table">
      <thead class="table-info">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">National Id</th>
          <th scope="col">Birth Date</th>
          <th scope="col">Serial Number</th>
          <th scope="col">Check profile</th>
          <th scope="col">Confirm</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary" *ngFor="let reservation of placeReservations">
          <td>{{reservation.firstname}} - {{reservation.lastname}}</td>
          <td>{{reservation.nid}}</td>
          <td>{{reservation.birthDate}}</td>
          <td>{{reservation.serialNumber}}</td>
          <td><button class="btn btn-warning" >Enter</button></td>
          <td>
            <a class="btn btn-primary" (click)="removeRow($event)">Next</a>
          </td>
        </tr>
      </tbody>
    </table>

    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Place Prices</p>
    <table class="table">
      <thead class="table-info">
        <tr>
          <th scope="col">Analysis name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary">
          <td>Complete Blood Count (CBC)</td>
          <td>$20</td>
        </tr>
        <tr class="table-secondary">
          <td>Metabolic Panel</td>
          <td>$25</td>
        </tr>
        <tr class="table-secondary">
          <td>Lipid Panel</td>
          <td>$30</td>
        </tr>
        <tr class="table-secondary">
          <td>Liver Panel</td>
          <td>$35</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
