<div class="text-center w-100 text-custom">
  <footer class="navbar navbar-expand-lg footer-custom d-flex flex-wrap align-items-center justify-content-between border-top py-4">
    <div class="col-md-3 mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-custom mb-0">&copy; MEDICA TEAM 2024</p>
    </div>

    <div class="col-md-2 mb-3 text-custom">
      <h3>Links</h3>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">About</a></li>
      </ul>
    </div>

    <div class="col-md-2 mb-3 text-custom">
      <h3>Company</h3>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">About Us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Careers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Press</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Blog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Contact</a></li>
      </ul>
    </div>

    <div class="col-md-2 mb-3 text-custom">
      <h3>Support</h3>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Help Center</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Terms of Service</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Privacy Policy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-custom">Sitemap</a></li>
      </ul>
    </div>

  </footer>
</div>