<div
  class="row p-0 m-0"
  style="
    background-image: url(../../../assets/images/medicine\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  ">
  <div
    class="col-sm-1 d-flex flex-column align-items-center justify-content-center"></div>
  <div class="pt-5 col-sm-10">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Details</p>

    <table class="table table-striped-columns">
      <tbody>
        <tr>
          <td class="fw-bold">Medicine Name:</td>
          <td>panadol</td>
        </tr>
        <tr>
          <td class="fw-bold">Quantity:</td>
          <td>562</td>
        </tr>
        <tr>
          <td class="fw-bold">Expired Date:</td>
          <td>4/12/2026</td>
        </tr>
        <tr>
          <td class="fw-bold">Actice Matrial:</td>
          <td>kadsmsad</td>
        </tr>
        <tr>
          <td class="fw-bold">Dosage amount:</td>
          <td>4 time daily</td>
        </tr>
        <tr>
          <td class="fw-bold">Warning:</td>
          <td>dsadsasda</td>
        </tr>
        <tr>
          <td class="fw-bold">Side effect:</td>
          <td>aaaaaaaaaaaasd</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
