<div class="container-fluid w-100 d-flex flex-column d-flex justify-content-center min-vh-100 login-page align-items-center">
    <div class="login-card co l-8 w-25 h-100">
        <h1 class="text-center mt-5">Create New Password</h1>
        <form class="mt-4" (submit)="saveNewPassword(newPassword.value, reEnterPassword.value)">
            <p>We'll ask for this password whenever you sign in.</p>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" #newPassword name="newPassword" placeholder="Enter New Password" required>
            </div>
            <div class="form-group">
                <label for="reEnterPassword">Re-enter Password</label>
                <input type="password" class="form-control" id="reEnterPassword" #reEnterPassword name="reEnterPassword" placeholder="Re-enter Password" required>
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block mt-2">Save Changes</button>
            </div>
            <div *ngIf="errorMessage" class="text-danger text-center mt-2">{{ errorMessage }}</div>
        </form>
    </div>
</div>


