.image {
    width: 100%;
    height: 250px; 
    border-radius: 20px;
}

.firstaid-cards {
    border-radius: 20px;
    z-index: 1;
     
}

.firstaid-system {
    background-image: url(../../../../assets/images/first.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-search-bar {
    height: 45px;
    width: 50%;
   
    background-color: white; 
}


