<div
  class="row p-0 m-0"
  style="
    background-image: url(../../../../assets/images/waiting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  ">
  <div
    class="col-sm-1 d-flex flex-column align-items-center justify-content-center"></div>
  <div class="pt-4 col-sm-10">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Waiting List</p>
    <table class="table">
      <thead class="table-info">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Time</th>
          <th scope="col">Serial Number</th>
          <th scope="col">State</th>
          <th scope="col">Place Price Id</th>
          <th scope="col">User Id</th>
          <th scope="col">Confirm</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary" *ngFor="let reservation of reservations">
          <td>{{ reservation.id }}</td>
          <td>{{ reservation.time }}</td>
          <td>{{ reservation.serialNumber }}</td>
          <td>{{ reservation.state }}</td>
          <td>{{ reservation.placePriceId }}</td>
          <td>{{ reservation.userID }}</td>
          <td>
            <a class="btn btn-primary" (click)="removeRow($event)">Next</a>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button [disabled]="currentPage === 1" (click)="onPreviousPage()" class="btn btn-warning me-2">
        Previous
      </button>
      <button (click)="onNextPage()" class="btn btn-warning me-2">
        Next
      </button>
    </div>
  </div>
</div>
