<div class="row m-0 p-0" style="background-image: url(../../../assets/images/medicine\ 3.jpg); background-size: cover; background-repeat:no-repeat; height: 100%;">
    <div class="p-md-5">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
  
        
  
          <!-- validating register form /////////////////////////////////////////////////////////////////////////////////////// -->
          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add medicine</p>
  
          <form class="mx-1 mx-md-4" >
  
            <div class="d-flex flex-row align-items-center mb-4">
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example3c">Medicine name</label>
                <input type="text" id="name" name="name" class="form-control"
                  required />
                
              </div>
            </div>
  
            <div class="d-flex flex-row align-items-center mb-4">
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example3c">Quantity</label>
                <input type="number" id="number" name="number" class="form-control"
                  required />
               
              </div>
            </div>
  
            <div class="d-flex flex-row align-items-center mb-4">
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example1c">Expired Date</label>
                <input type="date" id="date" name="date" class="form-control" required />
             
              </div>
            </div>
  
            <div class="d-flex flex-row align-items-center mb-4">
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example3c">Active matrial</label>
                <input type="text" id="text" name="text" class="form-control"
                  required />
         
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label" for="form3Example3c">Dosage amount</label>
                  <input type="text" id="form3Example3c" name="text" class="form-control"
                    required />
                
                </div>
              </div>
            <div class="d-flex flex-row align-items-center mb-4">
              <div class="form-outline flex-fill mb-0">
                <label class="form-label" for="form3Example3c">Warning</label>
                <input type="text" id="form3Example3c" name="email" class="form-control"
                  required />
              
              </div>
            </div>

            <div class="d-flex flex-row align-items-center mb-4">
                <div class="form-outline flex-fill mb-0">
                  <label class="form-label" for="form3Example3c">Side effect</label>
                  <input type="text" id="form3Example3c" name="email" class="form-control"
                    required />
                
                </div>
              </div>
  
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="submit" class="btn btn-primary btn-lg">Save</button>
            </div>
  
          </form>
  
        

        </div>
    </div>
    </div>
  </div>
