/* Add this CSS to your labwaitinglist page */

/* .lab-waiting-list {
    background-image: url(../../../../assets/images/waiting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
