<div
  class="container-fluid w-100 d-flex flex-column d-flex justify-content-center min-vh-100 login-page align-items-center">
  <div class="login-card co l-8 w-25 h-100">
    <h1 class="text-center mt-5">User Login</h1>
    <form class="mt-4" (ngSubmit)="login(username.value, password.value)">
      <!-- <form class="mt-4"> -->
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          #username
          name="userName"
          placeholder="Enter username" />
      </div>
      <!--  -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          #password
          id="password"
          name="password"
          placeholder="Enter password" />
      </div>
      <!-- <div class="col-md-6 mb-4 d-inline mt-2">
                <label class="mb-2 pb-1 d-block">Gender:</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="role" #role id="admin" value="Admin"  />
                  <label class="form-check-label" for="admin">Admin</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="role" #role id="doctor" value="Doctor"/>
                  <label class="form-check-label" for="doctor">Doctor</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" #role id="cashier" value="Cashier"/>
                    <label class="form-check-label" for="cashier">Cashier</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" #role id="patient" value="Patient"/>
                    <label class="form-check-label" for="patient">Patient</label>
                </div> -->
      <!-- </div> -->
      <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block mt-2">
          Login
        </button>
      </div>
      <div class="text-center mt-3">
        <a href="/resetpassword">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>
