<header>
  <a href="#" class="logo"><img src="../../../assets/images/logo2.png" alt="logo"></a>
  <nav class="navigation">
    <a href="#">Home</a>
    <a href="#">Clinics</a>
    <a href="#">Pharmacies</a>
    <a href="#">Labs</a>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle more-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        More
      </button>
      <ul class="dropdown-menu more-elements">
        <li><a class="dropdown-item" href="#">First-Aid</a></li>
        <li><a class="dropdown-item" href="#">Contact Us</a></li>
        <li><a class="dropdown-item" href="#">About Us</a></li>
      </ul>
    </div>
  </nav>
  <div class="d-flex justify-content-between">
  <a class="btn btn-primary me-1" href="#">Login</a>
  <a class="btn btn-primary me-1" href="#">Register</a>
</div>
</header>