<div class="row p-0 m-0 page-style" >
  <div
    class="col-sm-1 d-flex flex-column align-items-center justify-content-center"></div>
  <div class="pt-4 col-sm-10">
    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Clinics Waiting List</p>
    <table class="table">
      <thead class="table-info">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Id</th>
          <th scope="col">Age</th>
          <th scope="col">Number</th>
          <th scope="col">Confirm</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary">
          <td>said</td>
          <td>12150365465</td>
          <td>25</td>
          <td>12345</td>
          <td>
            <a class="btn btn-primary" (click)="removeRow($event)">Next</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
