<div
  class="container-fluid w-100 d-flex flex-column d-flex justify-content-center min-vh-100 login-page align-items-center">
  <div class="login-card co l-8 w-25 h-100">
    <h1 class="text-center mt-5">Reset Password</h1>
    <form class="mt-4" (submit)="resetPassword(username.value)">
      <p>Enter the email address associated with your Medica System account.</p>
      <div class="form-group">
        <label for="username">Email</label>
        <input
          type="email"
          class="form-control"
          id="username"
          #username
          name="userName"
          placeholder="Enter your Email"
          required />
      </div>
      <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block mt-2">
          Continue
        </button>
      </div>
      <div *ngIf="errorMessage" class="text-danger text-center mt-2">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
