<div
  class="row p-0 m-0"
  style="
    background-image: url('../../../assets/images/medicine 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  "
>
  <div
    class="col-sm-1 d-flex flex-column align-items-center justify-content-center"></div>
  <div class="pt-5 col-sm-10">
    <div class="d-flex justify-content-between align-items-center">
      <div class="container mt-3 mb-3">
        <input
          type="text"
          id="searchBar"
          class="form-control custom-search-bar"
          placeholder="Search"
          aria-label="Search"
          (input)="filterTable()"
        />
      </div>
      <div class="custom-button">
        <button
          type="button"
          class="btn btn-primary"
          (click)="goToAddMedicinePage()"
        >
          Add Medicine
        </button>
      </div>
    </div>

    <table class="table">
      <thead class="table-danger">
        <tr>
          <th scope="col">Medicine Id</th>
          <th scope="col">Medicine Name</th>
          <th scope="col">sideEffects</th>
          <th scope="col">warning</th>
          <th scope="col">description</th>
          <th scope="col">expirationDate</th>
          <!-- <th scope="col">Quantity Plus</th>
          <th scope="col">Quantity Minus</th>
          <th scope="col">Medicine Remove</th> -->
        </tr>
      </thead>
      <tbody id="medicineTable">
        <tr class="table-light" *ngFor="let medicine of medicineArray">
          <td>{{ medicine.medicine.id }}</td>
          <td>{{ medicine.medicine.name }}</td>
          <td>{{medicine.sideEffects}}</td>
          <td>{{medicine.warning}}</td>
          <td>{{medicine.description}}</td>
          <td>{{medicine.expirationDate}}</td>
          <!-- <td><button type="button" class="btn btn-success">Plus 1</button></td>
          <td><button type="button" class="btn btn-info">Minus 1</button></td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeRow(medicine.id)">
              Remove
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>

    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Side Effects</th>
          <th scope="col">Quantity</th>
          <th scope="col">Description</th>
          <th scope="col">Expiration Date</th>
          <th scope="col">Quantity Plus</th>
          <th scope="col">Quantity Minus</th>
          <th scope="col">Medicine Remove</th>
        </tr>
      </thead>
      <tbody id="medicineTable">
        <tr class="table-light" *ngFor="let medicine of MedicineArray">
          <td>{{ medicine.id }}</td>
          <td>{{ medicine.name }}</td>
          <td>{{ medicine.sideEffects }}</td>
          <td>{{ medicine.quantity }}</td>
          <td>{{ medicine.description }}</td> 
          <td>{{ medicine.expirationDate }}</td>
          <td><button type="button" class="btn btn-success" (click)="increaseQuantity(medicine.id)">Plus 1</button></td>
          <td><button type="button" class="btn btn-info" (click)="decreaseQuantity(medicine.id)">Minus 1</button></td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeRow(medicine.id)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>
