<div
  class="row p-0 m-0"
  style="
    background-image: url('../../../assets/images/medicine 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  "
>
  <div
    class="col-sm-1 d-flex flex-column align-items-center justify-content-center"
  ></div>
  <div class="pt-5 col-sm-10">
    <div class="d-flex justify-content-between align-items-center">
      <div class="container mt-3 mb-3">
        <input
          type="text"
          id="searchBar"
          class="form-control custom-search-bar"
          placeholder="Search"
          aria-label="Search"
          (input)="filterTable()"
        />
      </div>

      <div class="custom-button">
        <button
          type="button"
          class="btn btn-primary"
          (click)="goToAddMedicinePage()"
        >
          Add Medicine
        </button>
      </div>
    </div>

    <table class="table">
      <thead class="table-danger">
        <tr>
          <th scope="col">Medicine Name</th>
          <th scope="col">Medicine Details</th>
          <th scope="col">Quantity Plus</th>
          <th scope="col">Quantity Minus</th>
          <th scope="col">Medicine Remove</th>
        </tr>
      </thead>
      <tbody id="medicineTable">
        <tr class="table-light" *ngFor="let row of medicineRows" [id]="'row' + row.id">
          <td>{{ row.name }}</td>
          <td><a href="/medicinedetails" class="btn btn-warning">Enter</a></td>
          <td><button type="button" class="btn btn-success">Plus 1</button></td>
          <td><button type="button" class="btn btn-info">Minus 1</button></td>
          <td>
            <button type="button" class="btn btn-danger" (click)="removeRow(row.id)">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
