<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner" >
        <div class="carousel-item active home-hero">
            ujyf<!-- <img src="../../../assets/images/hosp.jpg" class="d-block w-100 h-100" alt="..."> -->
        </div>
        <div class="carousel-item home-hero">
            uih <!-- <img src="../../../assets/images/hosp.jpg" class="d-block w-100 h-100" alt="..."> -->
        </div>
        <div class="carousel-item home-hero">
            jy <!-- <img src="../../../assets/images/hosp.jpg" class="d-block w-100 h-100" alt="..."> -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis
    iste impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis
    iste impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo.

</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis
    iste impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis
    iste impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo.

</div><div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis
    iste impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis
    iste impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia expedita pariatur distinctio quaerat, esse perferendis iste
    impedit, autem qui delectus ducimus! Aspernatur fuga quas itaque explicabo architecto eum cum nemo.

</div>