<div
  class="pt-5 w-100 d-flex flex-column justify-content-center align-items-center hero-section">
  <div class="pb-3">Medica</div>
  <br />
  <br />

  <div class="m-0 p-3">WELCOME TO OUR HEALING UNIVERSE</div>
</div>

<!----------------------------------------------------------------------------------------------------->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row d-flex justify-content-between align-items-center mb-4 mt-5">
    <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
      <img
        class="rounded-circle"
        src="../../../assets/images/hospi.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140" />
      <h2>Hospital</h2>
      <p>
        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
        Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus,
        porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
        magna.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
      <img
        class="rounded-circle"
        src="../../../assets/images/clin.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140" />
      <h2>Clinics</h2>
      <p>
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
        lacinia odio sem nec elit. Cras mattis consectetur purus sit amet
        fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
      <img
        class="rounded-circle"
        src="../../../assets/images/pha.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140" />
      <h2>pharmacies</h2>
      <p>
        Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
        eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus.
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <div class="row d-flex justify-content-between align-items-center mb-4 mt-5">
    <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
      <img
        class="rounded-circle"
        src="../../../assets/images/lab.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140" />
      <h2>Laboratory</h2>
      <p>
        Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
        Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus,
        porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
        magna.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
      <img
        class="rounded-circle"
        src="../../../assets/images/cas.gif"
        alt="Generic placeholder image"
        width="140"
        height="140" />
      <h2>Cashier</h2>
      <p>
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
        lacinia odio sem nec elit. Cras mattis consectetur purus sit amet
        fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh.
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 d-flex align-items-center justify-content-center flex-column">
      <img
        class="rounded-circle"
        src="../../../assets/images/fff.jpg"
        alt="Generic placeholder image"
        width="140"
        height="140" />
      <h2>First-Aid</h2>
      <p>
        Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas
        eget quam. Vestibulum id ligula porta felis euismod semper. Fusce
        dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
        fermentum massa justo sit amet risus.
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Hospitals ,<span class="text-muted">It'll blow your mind.</span>
      </h2>
      <p class="lead">
        Our hospital is a licensed institution equipped to provide comprehensive
        diagnostic and therapeutic patient services for various medical
        conditions. We have an organized staff of physicians and continuous
        nursing services under registered nurses’ supervision. Our facility also
        serves as a center for medical investigation and education, ensuring
        that patients receive the most advanced care available
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto rounded-4"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        src="../../../assets/images/hospital-home.jpg"
        data-holder-rendered="true"
        style="width: 500px; height: 500px" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">
        Medical History ,<span class="text-muted">See for yourself.</span>
      </h2>
      <p class="lead">
        Our services include a thorough documentation of patients’ medical
        histories, ensuring a detailed account of symptoms and clinical
        problems. This information is crucial for providing personalized and
        effective medical care
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        class="featurette-image img-fluid mx-auto rounded-4"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        src="../../../assets/images/Medical_History_CWCrop.jpg"
        data-holder-rendered="true"
        style="width: 500px; height: 500px" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        First Aid ,<span class="text-muted">Checkmate.</span>
      </h2>
      <p class="lead">
        We offer immediate first aid assistance for minor to serious illnesses
        or injuries. Our trained professionals are equipped to preserve life,
        prevent conditions from worsening, and promote recovery until further
        medical services are available
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="featurette-image img-fluid mx-auto rounded-4"
        data-src="holder.js/500x500/auto"
        alt="500x500"
        src="../../../assets/images/first-aid-home.png"
        data-holder-rendered="true"
        style="width: 500px; height: 500px" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
