<div
  class="pt-5 w-100 d-flex flex-column justify-content-center align-items-center hero-section">
  <!-- <a>Medica</a>
    
    <p>WELCOME TO OUR HEALING UNIVERSE</p> -->
  <div class="pb-3">Medica</div>
  <br />
  <br />

  <div class="m-0 p-3">WELCOME TO OUR HEALING UNIVERSE</div>
</div>

<!-- <section class="home-cards d-flex flex-sm-row align-content-center justify-content-around mt-3 position-static">
    <div class="card position-static" style="width: 18rem;">
        <img src="../../../assets/images/logo.png" class="card-img-top" alt="medica">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card position-static" style="width: 18rem;">
        <img src="../../../assets/images/logo.png" class="card-img-top" alt="medica">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card position-static" style="width: 18rem;">
        <img src="../../../assets/images/logo.png" class="card-img-top" alt="medica">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section> -->

<!-- <section class="home-cards d-flex flex-sm-row align-content-center justify-content-around mt-3 position-static">
    <div class="card position-static" style="width: 18rem;">
        <img src="../../../assets/images/logo.png" class="card-img-top" alt="medica">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card position-static" style="width: 18rem;">
        <img src="../../../assets/images/logo.png" class="card-img-top" alt="medica">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card position-static" style="width: 18rem;">
        <img src="../../../assets/images/logo.png" class="card-img-top" alt="medica">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</section> -->
